{% extends 'base.html.twig' %}

{% block body %}
    <h1>Random Review Generated</h1>

    <p>
        Review Code: {{ review.id }}
    </p>
    <p>
        Hotel Code: {{ hotel }}
    </p>
    <p>
        Stars: {{ review.stars }}
    </p>
    <p>
        Comment: {{ review.comment }}
    </p>
{% endblock %}